*{
  font-family: 'Roboto', sans-serif;
}
.logincontainer{
  /* margin-top:70px; */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  height: 100%;
  width: 400px;
  margin-bottom: 50px;
}
.accountman {
  font-size: 112px;
  margin-top: 20px;
}
.input-register{
  margin-left: 159px;
}
.todocontainer{
  width: 90%;
  margin-top: 50px;
}

.todo-text{
  font-size: 16px;
  padding-left: 20px;
}
.todos{
  margin: 0 auto;
}
.deleteTodo{
  cursor: pointer;
  color: rgb(182, 32, 32);
}
.arrowback{
  cursor: pointer;
  position: absolute;
  margin-top: 25px;
  margin-left: 25px;
}

.namelog{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Anton', sans-serif;
}

.formtodo{
  margin-top: 50px;
}
.logoutdiv{
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 20px;
}