
.logincontainer{
  /* margin-top:70px; */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  height: 100%;
  width: 400px;
  margin-bottom: 50px;
}
.accountman {
  font-size: 112px;
  margin-top: 20px;
}
.input-register{
  margin-left: 157px;
}